/**
 * Load Awesome CSS
 * @package Ball Clip Rotate
 */
.la-ball-clip-rotate {
    position: relative;
}
.la-ball-clip-rotate > div {
    position: relative;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    color: #fff;
    background: #fff;
    border-color: #333;
    border-style: solid;
    border-width: 0;
}
.la-ball-clip-rotate:after {
    display: table;
    line-height: 0;
    clear: both;
    content: "";
}
.la-ball-clip-rotate.la-dark > div {
    color: #444;
    background: #444;
    border-color: #444;
}

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
             transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate > div {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
    float: left;
    background: transparent !important;
    border-style: solid;
    border-width: 2px;
    border-bottom-color: transparent !important;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
       -moz-animation: ball-clip-rotate .75s linear infinite;
         -o-animation: ball-clip-rotate .75s linear infinite;
            animation: ball-clip-rotate .75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
    width: 14px;
    height: 14px;
    margin: 0;
    border-width: 1px;
}
.la-ball-clip-rotate.la-lg {
    width: 48px;
    height: 48px;
}
.la-ball-clip-rotate.la-lg > div {
    width: 42px;
    height: 42px;
    margin: 0;
    border-width: 3px;
}
.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
    width: 56px;
    height: 56px;
    margin: 0;
    border-width: 4px;
}
/**
 * Load Awesome CSS End
 */

/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
             transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate-multiple-rotate {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/**
 * ====== 
 */
.clearfix{
    clear: both;
}
.hide {
    display: none;
}
#thrive-preloader{
	display: none;
	position: absolute;
  	z-index: 10;
  	left: 49%;
  	top: 49%;
}
#thrive-project-tab-li {
	padding-left: 0;
	width: 100%;
	display: inline-block;
	margin: 0 0 -7px 0;
}

#thrive-project-tab-li li {
	list-style: none;
	display: block;
	float: left;
	margin: 0;
}

#thrive-project-tab-li li a {
	padding: 35px 20px;
	background: #eee;
	border:1px solid #ddd;
	border-right: 0;
	display: block;
}

#thrive-project-tab-li li a#thrive-project-edit-tab {
	display: none;
}

#thrive-project-tab-li li.active a {
	background: #fff;
	padding: 35.5px 20px;
	position: relative;
	border-bottom: 0;
	z-index: 2;
	margin-bottom: -1px;
}

#thrive-project-tab-li li:last-child a{
	border-right: 1px solid #ddd;
}

#thrive-project-tab-li li a#thrive-project-add-new {
    display: none;
}

/**
 * Tab Contents
 */
#thrive-project-tab-content {
	position: relative;
}

#thrive-project-tab-content .thrive-project-tab-content-item {
	background: #fff;
	padding: 25px;
	border: 1px solid #ddd;
	width: 100%;
	display: none;
}

#thrive-project-tab-content .thrive-project-tab-content-item.active {
	display: block;
}

#thrive-project-tasks li.thrive-task-item {
	border-bottom: 1px solid #EEE;
	padding: 15px 0;
}

#thrive-project-tasks li.thrive-task-discussion {
    margin: 0;
    padding: 0;
}

#thrive-project-tasks li.thrive-task-discussion  h3 {
    margin-bottom: 20px;
    font-size: 32px;
}

#thrive-project-tasks ul.thrive-task-item-details:after {
    content: " ";
    display: block;
    clear: both;
    width: 100%;
}

#thrive-project-tasks ul.thrive-task-item-details li {
    list-style: none;
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}


/**
 * Meta
 */
.single-project .type-project .entry-footer {
	display: none;
}

.single-project #thrive-task-current-page-selector {
	display: inline-block;
	width: 25px;
	text-align: center;
    padding: 0 5px;
    margin: 0 5px;

}

.single-project #thrive-project-tasks h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.3;
}

.single-project #thrive-project-tasks ul {
	padding-left: 0;
    margin-left: 0;
    display: table;
    width: 100%;
}

.single-project #thrive-project-tasks ul li.thrive-task-item:hover{
    background: #F7F7F7;
}

.single-project #thrive-project-tasks ul li .task-user-name {
    position: absolute;
    background: #333;
    color: #fff;
    padding: 0 10px;
    border-radius: 5px;
    left: 95px;
    top: 5px;
    display: inline-table;
    z-index: 2;
    opacity: 0;
    text-align: center;

    transition: opacity 0.25 ease-in-out;
    -moz-transition: opacity 0.25 ease-in-out;
    -webkit-transition: opacity 0.25 ease-in-out;
}

.single-project #thrive-single-task-details {
    padding: 25px;
    background-color: #F9FBE7;
    margin-bottom: 35px;
    border: 1px solid #F0F4C3;
}

.single-project #thrive-single-task-details .task-content-meta {
    padding-top: 35px;
    border-top: 2px dashed rgba(0, 0, 0, 0.1);
}

.single-project #thrive-single-task-details .task-content {
    padding: 0 0 35px;
}

.single-project #thrive-project-tasks ul li .task-user img.avatar {
    border-radius: 50%;
}

.single-project .thrive-tabs-tabs ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.single-project .thrive-tabs-tabs ul li {
    float: left;
    list-style: none;
}

.single-project .thrive-tabs-tabs ul li a {
      padding: 5px 15px;
      display: inline-block;
      border: 1px solid;
      margin-right: 15px;
      border-radius: 25px;
}

.single-project .thrive-tabs-tabs ul li a.active {
    color: #4B933E;
}

.single-project .thrive-tabs-tabs ul li a .dashicons {
    font-size: 16px;
    padding-top: 5px;
}

.single-project #thrive-project-tasks ul li .task-user {
    position: relative;
}

.single-project #thrive-project-tasks ul li .task-user:hover .task-user-name {
    opacity: 1;
}
.single-project #thrive-project-tasks ul li.thrive-task-item {
	list-style: none;
    margin-bottom: 0;
}

.single-project #thrive-project-tasks ul li.priority {
    width: 10%;
    margin-right: 2%;
}   
    .task-priority,
    .single-project #thrive-project-tasks ul li.priority span {
        background-color: #4CAF50;
        font-size: 12px;
        color: #FFF;
        display: block;
        padding: 2.5px 10px;
        border-radius: 4px;
        text-align: center;
    }

    .task-priority.high,
    .single-project #thrive-project-tasks li.high ul li.priority span {
        background: #FB8C00;
    }

    .task-priority.critical,
    .single-project #thrive-project-tasks li.critical ul li.priority span {
        background: #f44336;
    }

    .task-priority {
        padding: 10px 20px;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 16px;
    }

.single-project #thrive-project-tasks ul li.details {
    padding-left: 20px;
}

.single-project #thrive-project-tasks ul li.details h3 {
    margin-bottom: 0;
}

.single-project #thrive-project-tasks ul li.last-user-update {
    width: 15%;
    text-align: right;
}

.single-project #thrive-project-tasks h3 a {
	color: #4B933E;
}

/**
 * Navigation
 */
.single-project #thrive-project-tasks #thrive-task-paging .next-page,
.single-project #thrive-project-tasks #thrive-task-paging .prev-page {
	padding: 10px;
}

/**
 * Filters
 */
.single-project #thrive-project #thrive-tasks-filter{
	display: inline-block;
	width: 100%;
}

.single-project #thrive-project .screen-reader-text {
    height: 0;
    display: block;
    position: absolute;
    z-index: -2;
}

.single-project #thrive-project #thrive-tasks-filter .alignleft,
.single-project #thrive-project #thrive-tasks-filter .alignright {
	width: 50%;
	margin: 0;
}
.single-project #thrive-project #thrive-tasks-filter #thrive-task-search-field {
	width: 65%;
	float: left;
	  border: 1px solid #EEE;
  border-radius: 25px;
  padding: 7.5px 20px;
  line-height: 1.3em;
}

.single-project #thrive-project #thrive-tasks-filter #thrive-task-search-submit {
	float: left;
	width: 30%;
	margin-left: 5%;
}

/**
 * Single View
 */
#thrive-single-task h2 {
	line-height: 1.3;
}


#thrive-single-task .task-content ul,
#thrive-single-task .task-content ol {
    padding-left: 0;
}

#thrive-single-task .task-content ol li, 
#thrive-single-task .task-content ul li {
    padding: 0;
    padding-left: 0;
    list-style: disc;
    margin: 5px 0 5px 20px;
}

#thrive-single-task .task-content ol li ol li, 
#thrive-single-task .task-content ol li ul li, 
#thrive-single-task .task-content ul li ol li, 
#thrive-single-task .task-content ul li ul li{
    margin-left: 3em;
}

#thrive-single-task .task-content ol li {
    list-style: decimal;
}

 #thrive-single-task li {
        padding: 35px 0;
        list-style: none;
    }

    #thrive-single-task li.comment {
        padding-left: 25px;
        padding-right: 25px;
        background-color: #F7F7F7;
        margin-bottom: 0;
        border-bottom: 1px solid #E7E7E7;
    }

    #thrive-single-task li:last-child {
        border-bottom: 0;
    }

.task-meta {
	font-size: 14px;
	border: 2px solid #EEE;
	background: #fff;
	margin-bottom: 30px;
	padding: 5px 10px;
}
	.task-meta p {
		margin-bottom: 0;
		margin-top: 0;
	}

        .task-meta .opened-by {
            font-weight: bold;
        }

        .task-meta .added-on {
            float: right;
        }
.task-update-owner {
	float: left;
	width: 10%;
	margin-right: 2.5%;
}
.task-update-details {
	float: left;
	width: 87.5%;
}
/**
 * Task Editor
 */
#task-editor {
	border: 2px solid #EEE;
	background: #F7F7F7;
	padding: 0 25px 25px 25px;
}

	#task-editor #thrive-task-priority-update-select {
		background: #fff;
	}

	#task-editor #task-comment-content {
		background: #fff;
	}

    .thrive-edit-comment,
    .thrive-delete-comment {
        color: #F44336;
        font-size: 80%;
        font-weight: bold;
    }

    .thrive-edit-comment {
        color: #d8d8d8;
    }

/**
 * Task At A Glance
 */

#thrive-dashboard-at-a-glance ul {
    margin: 0;
    padding: 0;
}

#thrive-dashboard-at-a-glance ul li {
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    width: 30%;
    margin-right: 5%;
    list-style: none;
}

#thrive-dashboard-at-a-glance ul li:nth-child(3n) {
    margin-right: 0;
}

#thrive-dashboard-at-a-glance ul li .thrive-dashboard-at-a-glance-box {
    border: 1px solid #EEE;
    margin: 20px 0 35px;
    padding: 35px 0;
    display: block;
}